# Turns the rewriting engine on
RewriteEngine On 

# Prevents directory listing
Options All -Indexes

# Prevents access to .htaccess itself
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# My own 404 page
ErrorDocument 404 /statics/404.html

# Last revision when empty
RewriteRule ^$        1

# Explicit revision
RewriteRule ^(\d+)$   statics/$1.html
